/*
03.CSS 기본 문법 빠르게 끝내기
03-2.CSS로 HTML 요소 다양하게 선택하기
03-2-6.순서 선택자 - 형제 요소의 순서를 이용하여 선택하기
03-2-6-1.순서 선택자 사용하기
*/
@charset "utf-8";

/* 순서 선택자 */
ul li:nth-of-type(1) {
  border: 1px solid red;
}
ul li:nth-of-type(2) {
  border: 1px solid green;
}
ul li:nth-of-type(3) {
  border: 1px solid blue;
}
ul li:nth-of-type(4) {
  border: 1px solid violet;
}