/*
03.CSS 기본 문법 빠르게 끝내기
03-6.웹 페이지의 레이아웃 구성하기
03-6-1.CSS 초기화하기
*/
@charset "utf-8";

/* CSS 초기화 */
* {
  margin: 0px;
  padding: 0px;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}

article {
  border: 1px solid red;
}
ul li {
  border: 1px solid blue;
}