/*
03.CSS 기본 문법 빠르게 끝내기
03-6.웹 페이지의 레이아웃 구성하기
03-6-3.position - 요소를 자유롭게 배치하기
03-6-3-1.position의 relative 속성값 사용하기
*/
@charset "utf-8";

/* Position으로 자유롭게 구성 요소 배치하기 */
section {
  width: 600px;
  height: 200px;
}
section:nth-of-type(1) {
  background-color: pink;
}
section:nth-of-type(2) {
  background-color: lightblue;
  position: relative;
  top: -100px;
  left: 100px;
}