/*
04.인터랙티브 웹을 위한 CSS 다루기
04-4.벡터 이미지 파일 제어하기
practice-04-4-1.SVG 파일을 웹 브라우저에 출력하기
*/
@charset "utf-8";

article {
  width: 500px;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 50px;
  margin: 50px auto;
}
article svg {
  width: 100%;
}

/* practice-04-4-2.SVG의 path 스타일 변경하기 */
/* path 속성 바꾸기 */
article svg path {
  fill: transparent;
  stroke: red;
  stroke-width: 1;
}