/*
03.CSS 기본 문법 빠르게 끝내기
03-3.폰트 스타일링하기
03-3-4.폰트 색상 바꾸기
03-3-4-1.폰트 색상 바꾸기
*/
@charset "utf-8";

/* 글자의 색상 적용하기 */
li:nth-of-type(1) {
  color: red;
}
li:nth-of-type(2) {
  color: #098bc7;
}
li:nth-of-type(3) {
  color: rgb(231, 49, 213);
}