/* 
03.CSS 기본 문법 빠르게 끝내기
03-7.다양한 그래픽 효과 적용하기
03-7-2.border-radius ─ 모서리를 둥글게 만들기 
*/
@charset "utf-8";

/* 테두리에 곡선 설정하기 */
.box1 {
  width: 200px;
  height: 200px;
  background: blue;
  margin: 100px;
  float: left;
  border-radius: 30px;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 100px;
  float: left;
  border-radius: 50%;
}