/*
03.CSS 기본 문법 빠르게 끝내기
03-4.웹 페이지에서 영역별 크기 정하기
03-4-4.기존 박스 크기를 유지하면서 안쪽 여백 지정하기
03-4-4-1.box-sizing 속성으로 안쪽 여백 지정하기
*/
@charset "utf-8";

article {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}
article:nth-of-type(1) {
  padding: 0px;
}
article:nth-of-type(2) {
  padding: 30px;
  box-sizing: border-box;
}